<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/ITN261">ITN261</a></li>
	        		<li><a href="/ITN262">ITN262</a></li>
	        		<li><a href="/ITN263">ITN263</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/jkirchtcc">github.com/jkirchtcc</a></li>
				</ul>
			</footer>
		</body>
	</html>
